<!-- Sidebar -->
{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="{% url 'recognition_face:buscar_imagen' %}" class="app-brand-link">
            <span class="app-brand-logo">
                <!-- Puedes cambiar este texto por un logo SVG si tienes uno -->
                <img src="{% static 'assets/img/elements/ascii_moth_clean.png' %}" alt="Logo" class="logo"
                    style="width: 70px; height: 70px;">
            </span>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Navegación principal -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Reconocimiento Facial</span>
        </li>

        <li class="menu-item {% if request.resolver_match.url_name == 'buscar_imagen' %}active{% endif %}">
            <a href="{% url 'recognition_face:buscar_imagen' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-image"></i>
                <div>Por imagen</div>
            </a>
        </li>

        <li class="menu-item {% if request.resolver_match.url_name == 'buscar_video' %}active{% endif %}">
            <a href="{% url 'recognition_face:buscar_video' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-video"></i>
                <div>Por vídeo</div>
            </a>
        </li>

        <!-- Reconocimiento de Matrículas -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Reconocimiento de Matrículas</span>
        </li>

        <li class="menu-item {% if request.resolver_match.url_name == 'reconocer_placa_imagen' %}active{% endif %}">
            <a href="{% url 'recognition_plate:reconocer_placa_imagen' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-car"></i>
                <div>Por imagen</div>
            </a>
        </li>

        <li class="menu-item {% if request.resolver_match.url_name == 'reconocer_placa_video' %}active{% endif %}">
            <a href="{% url 'recognition_plate:reconocer_placa_video' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-movie"></i>
                <div>Por vídeo</div>
            </a>
        </li>

        <!-- Usuarios / otras secciones -->
        <li class="menu-header small text-uppercase">Usuarios</li>
        <li class="menu-item"><a href="#" class="menu-link">
                <div>Reportes</div>
            </a></li>
    </ul>

</aside>